Repository cycle/.github, changes with the labels that .github/labeler.yml gives for each.
All labels: type: documentation, type: maintenance

.github/labeler.yml:

---

# This file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"type: feature":
  - head-branch: ['^feature', '^feat', 'feature']

"type: documentation":
  - changed-files:
      - any-glob-to-any-file: ['./*.md']

"type: maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*.yml', '*.yml', '*.json', '*.xml']

...

feat: add default issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-docs-bug-report.yml
  .github/ISSUE_TEMPLATE/4-security-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: type: maintenance

ci: removed release-please action
  .github/.release-please-config.json
  .github/.release-please-manifest.json
  .github/CODE_OF_CONDUCT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/create-release.yml
  .markdownlint.json
  .pre-commit-config.yaml
  Makefile
  README.md
  profile/README.md
Labels: type: documentation, type: maintenance

chore: readme updates
  profile/README.md
Labels: none

Update templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: maintenance

ci: add markdown lint action
  .github/workflows/integrate.yml
Labels: type: maintenance

chore: Fix PULL_REQUEST_TEMPLATE style
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

style: lint md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: Fix PULL_REQUEST_TEMPLATE style
  .editorconfig
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

chore: minor fixes
  Makefile
Labels: none
